import java.util.Scanner;

public class LB1 {
	public static void main(String[] args) {
		System.out.print("Введите текст: "); /*
											 * Выводим сообщение с приглашением
											 * для ввода текста
											 */
		Scanner s = new Scanner(System.in); // Создаем сканер s
		String str = s.nextLine(); // Сканируем введеный текст
		int c = 0; // Создаем переменную "с" в которую будем помещать код буквы
		for (int i = 0; i < str.length(); i++) { // Создаем цикл
			System.out.print(str.charAt(i)); // Выводим каждую букву текста
			System.out.print("  "); // Выводим два пробела
		}
		System.out.println(); // Переходим на следующую строку
		for (int i = 0; i < str.length(); i++) { // Создаём цикл
			c = str.codePointAt(i);// Реременной "с" присваиваем код каждой
									// буквы
			if (c >= 1072 & c <= 1103) { // Если - Русский алфавит маленькие
											// буквы
				System.out.print(c - 1071);/*
											 * Тогда - Вычитаем всё что больше
											 * кода буквы "а" и получаем
											 * порядковый номер буквы в алфавите
											 * - выводим её на печать
											 */
				System.out.print("  "); // Выводим два пробела
			} else if (c >= 1040 & c <= 1071) { // Иначе если - Русский алфавит
												// большие буквы
				System.out.print(c - 1039); /*
											 * Вычитаем цифры до буквы "А" и
											 * получаем порядковый номер в
											 * алфавите, выводим цифру
											 */
				System.out.print("  "); // Выводим два пробела
			}

			if (c == 32) {// Если в поле текста введён пробел
				System.out.print("  "); // Выводим два пробела
			}

		}
		if (c > 1103 || c < 1040) {
			System.out.print("Введите текст в руской раскладке!");
		} // Проверка на заполнение в Русской раскладке
	}
}
