import java.util.Scanner;

public class LB1 {
	public static void main(String[] args) {
		System.out.print("Введите текст: "); // Выводим сообщение с приглашением
												// для ввода текста
		Scanner s = new Scanner(System.in); // Создаем сканер s
		String str = s.nextLine(); // Сканируем введеный текст
		int c = 0; // Создаем переменную "с" в которую будем помещать код буквы
		for (int i = 0; i < str.length(); i++) { // Создаем цикл
			System.out.print(str.charAt(i)); // Выводим каждую букву текста
			System.out.print("  "); // Выводим два пробела
		}
		System.out.println(); // Переходим на следующую строку
		for (int i = 0; i < str.length(); i++) { // Создаём цикл
			c = str.codePointAt(i);// Переменной "с" присваиваем код каждой

			if (c >= 1072 & c <= 1103 || c == 1105) { // Если - Русский алфавит
														// маленькие буквы
				if (c == 1105) {// Если "с" = ё
					System.out.print("7");// Тогда вывести на экран "7"
				} else if (c - 1071 >= 7) { // Иначе если с больше буквы "е"

					if (c - 1071 >= 8) {
						System.out.print(c - 1071 + 1 + " ");
					} else
						System.out.print(c - 1071 + 1 + "   ");// То прибавляем
																// 1
				} else if (c - 1071 >= 8) {
					System.out.print(c - 1071 + "  ");
				}
				// Иначе
				else
					System.out.print(c - 1071 + "  ");// Тогда - Вычитаем всё
														// что
				// больше кода буквы "а" и
				// получаем порядковый номер
				// буквы в алфавите - выводим её
				// на печать

			} else if (c >= 1040 & c <= 1071 || c == 1025) { // Иначе если -
																// Русский
																// алфавит
																// большие буквы
				if (c == 1025) {// Если "с" = ё
					System.out.print("7");// Тогда вывести на экран "7"
				} else if (c - 1039 >= 7) { // Иначе если с больше буквы "е"

					if (c - 1039 >= 8) {
						System.out.print(c - 1039 + 1 + " ");
					} else
						System.out.print(c - 1039 + 1 + "   ");// То прибавляем
																// 1
				} else if (c - 1039 >= 8) {
					System.out.print(c - 1039 + "  ");
				}
				// Иначе
				else 
					System.out.print(c - 1039 + "  ");// Тогда - Вычитаем всё
			// получаем порядковый номер в
			// алфавите, выводим цифру

				if (c == 32) {// Если в поле текста введён пробел
				System.out.print("   "); // Выводим два пробела
			}

			if (c > 1103 & c != 1025 & c != 1105 || c < 1040 & c != 1025
					& c != 1105) {// Проверка на заполнение в Русской раскладке
									// и
									// отсутствие букв "Ё" и "ё"
				System.out.print("Введите текст в русской раскладке!"); // "Введите текст в русской раскладке!"

			}
		}
	}
	}
	}
